@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

p{
    color: #880d1e;
}

body{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,195,208,1) 0%, rgba(255,45,92,0.6222864145658263) 100%);
    padding: 5px 6%;
    width: 100%;
}

.nav{
    color: #FCEBF1;
    padding: 25px;
    
}

.nav-2{
    font-size: 80% ;
}

.name{
    color: #880d1e;
    font-size: 2rem;
    font-weight: 900;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #880d1e;
    font-weight: 900;
    font-size: 1.4em;
    padding: 10px;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

.img{
    width: 400px;
    overflow: hidden;
    padding: 20px;
}

.invite{
    font-size: 3rem;
    font-weight: 800;
}

.intro-para{
    font-size: 1.5rem;
    color: #880d1e;
}

.skillset{
    padding-top: 100px;

}
.skillset-title{
    font-size: 2em;
    font-weight: bold;
    color: #880d1e;
}

.langs{
    color: #880d1e;
    font-size: 1.5rem;
    padding-top: 10px;
}

.projects{
    padding-top: 50px;
}

.project-title{
    font-size: 2rem;
    font-weight: bold;
    color: #880d1e;
    padding-bottom: 25px;
    
}

.card{
    width: 400px;
    height: 400px;
    overflow: hidden;
}
.card:hover{
    cursor: pointer;
    box-shadow: 4px 4px 2px #f49cbb;
}

.pro-title{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #dd2d4a;
    padding-bottom: 25px;

}

.pro-details{
    font-size: 1rem;
}

.listofprojects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

footer{
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 25px;
    font-family: 'Raleway', sans-serif;
    color: #880d1e;

}

.contact-info{
    font-size: 1.3rem;
}
